
@import "tailwindcss";




@theme {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Mono", monospace;

  --color-bg-primary: white;
  --color-secondary: #5a189a;
}

@custom-variant dark (&:where(.dark, .dark *));
