@import "tailwindcss";

@theme {
  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Roboto Mono", monospace;

  --color-bg-primary: white;
  --color-secondary: #5a189a;

  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}

@custom-variant dark (&:where(.dark, .dark *));

.modal-open {
  overflow: hidden;
  position: fixed;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  scrollbar-width: none;
}